@import url(select2.min.css);
@import url(jquery.kladr.min.css);
@import url(jquery-ui.structure.min.css);
@import url(jquery-ui.min.css);
* {
  box-sizing: border-box; }

img {
  border: none;
  vertical-align: top;
  max-width: 100%;
  height: auto; }

/* responsive text align
-----------------------------------------------------------------------------*/
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-xs-left {
  text-align: left; }

.text-xs-right {
  text-align: right; }

.text-xs-center {
  text-align: center; }

.text-xs-justify {
  text-align: justify; }

@media (min-width: 544px) {
  .text-sm-left {
    text-align: left; }
  .text-sm-right {
    text-align: right; }
  .text-sm-center {
    text-align: center; }
  .text-sm-justify {
    text-align: justify; } }

@media (min-width: 768px) {
  .text-md-left {
    text-align: left; }
  .text-md-right {
    text-align: right; }
  .text-md-center {
    text-align: center; }
  .text-md-justify {
    text-align: justify; } }

@media (min-width: 992px) {
  .text-lg-left {
    text-align: left; }
  .text-lg-right {
    text-align: right; }
  .text-lg-center {
    text-align: center; }
  .text-lg-justify {
    text-align: justify; } }

/* reset styles
-----------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ''; }

input:focus, textarea:focus, a:focus, button:focus, select:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del, s, strike {
  text-decoration: line-through; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
  margin: 0; }

@font-face {
  font-family: 'futuraBoldReg';
  src: url(./fonts/futura-bold-reg.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'futuraMedReg';
  src: url(./fonts/futura-medium-reg.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  min-height: 100%;
  background: #041640; }

.clearfix:after {
  content: '';
  width: 100%;
  display: table;
  clear: both; }

.page-body {
  position: relative; }

.logo img {
  margin-top: 30px; }

.container {
  width: 713px;
  margin: 0 auto;
  position: relative;
  color: #fff;
  box-sizing: border-box;
  font-family: "futuraBoldReg";
  font-size: 18px; }
  .container:before {
    content: '';
    background: url(../img/back.jpg) right top;
    width: 512px;
    height: 415px;
    background-repeat: no-repeat;
    position: absolute;
    right: -155px; }
  .container .register {
    margin-top: 74px; }

.steps {
  min-height: 231px;
  padding-right: 44.3%; }
  .steps .form-group .input-style {
    background-color: #fff;
    border: 3px solid #beab71;
    font-size: 14px;
    line-height: 18px;
    height: 34px;
    padding: 7px 8px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 90%;
    margin-bottom: 20px;
    font-family: "futuraMedReg";
    font-size: 18px;
    /* Firefox 19+ */
    /* Firefox 18- */ }
    .steps .form-group .input-style::-webkit-input-placeholder {
      color: #333333;
      font-family: "futuraMedReg";
      font-size: 18px; }
    .steps .form-group .input-style::-moz-placeholder {
      color: #333333;
      font-family: "futuraMedReg";
      font-size: 18px; }
    .steps .form-group .input-style:-moz-placeholder {
      color: #333333;
      font-family: "futuraMedReg";
      font-size: 18px; }
    .steps .form-group .input-style:-ms-input-placeholder {
      color: #333333;
      font-family: "futuraMedReg";
      font-size: 18px; }
  .steps .form-group .form-radio {
    position: relative; }
    .steps .form-group .form-radio span {
      background: url(../img/sprite.png) 0 0 no-repeat;
      background-position: -248px -114px;
      display: block;
      height: 15px;
      left: 0;
      position: absolute;
      top: 4px;
      width: 22px; }
    .steps .form-group .form-radio input {
      opacity: 0;
      margin-right: 9px; }
    .steps .form-group .form-radio > input:checked ~ span {
      background-position: -278px -114px; }
  .steps .form-group .radio-wrap {
    float: left;
    margin-top: 3px;
    margin-right: 43px; }
  .steps .border-group {
    border: 1px dashed #fff;
    border-radius: 5px;
    padding: 5px 9px 10px;
    margin-bottom: 19px;
    width: 90%; }

.form-group {
  position: relative; }
  .form-group .error-msg {
    display: none; }

.btn {
  display: block;
  background: url(../img/btn-bg.png) 0 0 no-repeat;
  border: 0 none;
  color: #fff;
  cursor: pointer;
  font-family: "futuraMedReg";
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 30px;
  line-height: 32px;
  height: 42px;
  margin: 0;
  padding: 5px 0;
  text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  width: 192px;
  position: absolute;
  bottom: 0; }

.step-8,
.step-7,
.step-6,
.step-5,
.step-8,
.step-4,
.step-1,
.step-2,
.step-3 {
  display: none; }

.step-3 {
  display: block; }

select {
  width: 90%; }

.step-4 .select2-container {
  background-color: #fff;
  border: 3px solid #beab71;
  font-size: 14px;
  line-height: 18px;
  height: 34px;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-family: "futuraMedReg";
  font-size: 18px;
  width: 329px !important; }
  .step-4 .select2-container .select2-selection__arrow b {
    border-color: #beab71 transparent transparent transparent;
    border-width: 5px 5px 0 5px; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #beab71 transparent;
  border-width: 0 5px 5px 5px; }

.step-text {
  padding-top: 75px;
  text-transform: uppercase; }

.step-7 {
  min-height: auto;
  margin-top: -3px; }
  .step-7 .btn {
    position: relative;
    margin-top: 22px;
    background: url(../img/btn-bg-big.png) no-repeat;
    width: 231px; }
  .step-7 table {
    margin-bottom: 17px;
    z-index: 1;
    position: relative; }
  .step-7 .form-group .input-style {
    width: 90%; }
  .step-7 tr:not(:last-child) {
    border-bottom: 1px solid #1e2e53; }
  .step-7 tr td {
    padding: 1px 0; }
    .step-7 tr td:first-child {
      color: #a18b52; }
    .step-7 tr td:last-child {
      padding: 0 11px 0 17px; }

.select2-container--default .select2-selection--single {
  border: none; }

.checkbox {
  margin-top: -3px; }
  .checkbox input {
    opacity: 0;
    z-index: 10;
    position: absolute; }
  .checkbox span {
    background: url(../img/sprite.png) -60px -89px no-repeat;
    display: block;
    left: 0;
    position: absolute;
    width: 22px;
    height: 18px; }
  .checkbox .form-text {
    display: inline-block;
    white-space: nowrap;
    margin-left: 23px;
    margin-left: 32px;
    border-bottom: 1px dotted #fff; }

.checkbox input:checked ~ span {
  background-position: -90px -89px; }

.steps .error-18,
.steps .error-correct,
.steps label.error {
  font-family: Arial, sans-serif;
  position: absolute;
  width: 100%;
  left: 0;
  top: 36px;
  white-space: nowrap;
  font-size: 12px;
  color: red; }

.form-group .error-msg {
  display: none;
  color: red;
  position: relative;
  top: -7px;
  font-family: Arial, sans-serif;
  font-size: 12px; }

.form-group.has-error .error-msg {
  display: block; }

/*# sourceMappingURL=style.css.map */
