@import "select2.min.css";
@import "jquery.kladr.min.css";
@import "jquery-ui.structure.min.css";
@import "jquery-ui.min.css";

@font-face {
  font-family: 'futuraBoldReg';
  // url('./fonts/futura-bold-reg.eot?#iefix') format('embedded-opentype'),
  // src: url('./fonts/futura-bold-reg.eot');
  src: url(./fonts/futura-bold-reg.woff) format('woff');
  //  url('./fonts/futura-bold-reg.ttf') format('truetype'),
  //  url('./fonts/futura-bold-reg.svg#futuraBoldReg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futuraMedReg';
  // url('./fonts/futura-bold-reg.eot?#iefix') format('embedded-opentype'),
  // src: url('./fonts/futura-bold-reg.eot');
  src: url(./fonts/futura-medium-reg.woff) format('woff');
  //  url('./fonts/futura-bold-reg.ttf') format('truetype'),
  //  url('./fonts/futura-bold-reg.svg#futuraBoldReg') format('svg');
  font-weight: normal;
  font-style: normal;
}
$futuraboldreg: 'futuraBoldReg';
$futuramedreg: 'futuraMedReg';

body {
  min-height: 100%;
  background: #041640;
}

.clearfix {
  &:after {
    content: '';
    width: 100%;
    display: table;
    clear: both;
  }
}

.page-body {
  position: relative;
}

.logo {
  img {
    margin-top: 30px;
  }
}

.container {
  width: 713px;
  margin: 0 auto;
  position: relative;
  color: #fff;
  box-sizing: border-box;
  font-family: $futuraboldreg;
  font-size: 18px;

  &:before {
    content: '';
    background: url(../img/back.jpg) right top;
    width: 512px;
    height: 415px;
    background-repeat: no-repeat;
    position: absolute;
    right: -155px;
  }

  .register {
    margin-top: 74px;
  }
}

.steps {
  min-height: 231px;
  padding-right: 44.3%;

  .form-group {
    .input-style {
      background-color: #fff;
      border: 3px solid #beab71;
      font-size: 14px;
      line-height: 18px;
      height: 34px;
      padding: 7px 8px;
      border-radius: 5px;
      box-sizing: border-box;
      width: 90%;
      margin-bottom: 20px;
      font-family: $futuramedreg;
      font-size: 18px;

      &::-webkit-input-placeholder {
        color: #333333;
        font-family: $futuramedreg;
        font-size: 18px;
      }

      &::-moz-placeholder {
        color: #333333;
        font-family: $futuramedreg;
        font-size: 18px;
      }
      /* Firefox 19+ */
      &:-moz-placeholder {
        color: #333333;
        font-family: $futuramedreg;
        font-size: 18px;
      }
      /* Firefox 18- */
      &:-ms-input-placeholder {
        color: #333333;
        font-family: $futuramedreg;
        font-size: 18px;
      }
    }

    .form-radio {
      position: relative;

      span {
        background: url(../img/sprite.png) 0 0 no-repeat;
        background-position: -248px -114px;
        display: block;
        height: 15px;
        left: 0;
        position: absolute;
        top: 4px;
        width: 22px;
      }

      input {
        opacity: 0;
        margin-right: 9px;
      }

      >input:checked ~ span {
        background-position: -278px -114px;
      }
    }

    .radio-wrap {
      float: left;
      margin-top: 3px;
      margin-right: 43px;
    }
  }

  .border-group {
    border: 1px dashed #fff;
    border-radius: 5px;
    padding: 5px 9px 10px;
    margin-bottom: 19px;
    width: 90%;
  }
}

.form-group {
  position: relative;

  .error-msg {
    display: none;
  }
}

.btn {
  display: block;
  background: url(../img/btn-bg.png) 0 0 no-repeat;
  border: 0 none;
  color: #fff;
  cursor: pointer;
  font-family: $futuramedreg;
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 30px;
  line-height: 32px;
  height: 42px;
  margin: 0;
  padding: 5px 0;
  text-shadow: 1px 2px 0 rgba(0,0,0,0.3);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  width: 192px;
  position: absolute;
  bottom: 0;
}

.step-8,
.step-7,
.step-6,
.step-5,
.step-8,
.step-4,
.step-1,
.step-2,
.step-3 {
  display: none;
}

.step-3 {
  display: block;
}

select {
  width: 90%;
}

.step-4 {
  .select2-container {
    background-color: #fff;
    border: 3px solid #beab71;
    font-size: 14px;
    line-height: 18px;
    height: 34px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-family: $futuramedreg;
    font-size: 18px;
    width: 329px !important;

    .select2-selection__arrow {
      b {
        border-color: #beab71 transparent transparent transparent;
        border-width: 5px 5px 0 5px;
      }
    }
  }
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #beab71 transparent;
  border-width: 0 5px 5px 5px;
}

.step-text {
  padding-top: 75px;
  text-transform: uppercase;
}

.step-7 {
  min-height: auto;
  margin-top: -3px;

  .btn {
    position: relative;
    margin-top: 22px;
    background: url(../img/btn-bg-big.png) no-repeat;
    width: 231px;
  }

  table {
    margin-bottom: 17px;
    z-index: 1;
    position: relative;
  }

  .form-group {
    .input-style {
      width: 90%;
    }
  }

  tr {
    &:not(:last-child) {
      border-bottom: 1px solid #1e2e53;
    }

    td {
      padding: 1px 0;

      &:first-child {
        color: #a18b52;
      }

      &:last-child {
        padding: 0 11px 0 17px;
      }
    }
  }
}

.select2-container--default .select2-selection--single {
  border: none;
}

.checkbox {
  margin-top: -3px;

  input {
    opacity: 0;
    z-index: 10;
    position: absolute;
  }

  span {
    background: url(../img/sprite.png) -60px -89px no-repeat;
    display: block;
    left: 0;
    position: absolute;
    width: 22px;
    // top: 8px;
    height: 18px;
  }

  .form-text {
    display: inline-block;
    white-space: nowrap;
    margin-left: 23px;
    margin-left: 32px;
    border-bottom: 1px dotted #fff;
  }
}

.checkbox {
  input:checked ~ span {
    background-position: -90px -89px;
  }
}

.steps {
  .error-18,
  .error-correct,
  label.error {
    font-family: Arial, sans-serif;
    position: absolute;
    width: 100%;
    left: 0;
    top: 36px;
    white-space: nowrap;
    font-size: 12px;
    color: red;
  }
}

.form-group {
  .error-msg {
    display: none;
    color: red;
    position: relative;
    top: -7px;
    font-family: Arial, sans-serif;
    font-size: 12px;
  }

  &.has-error {
    .error-msg {
      display: block;
    }
  }
}
