@@include('../chunks/head.html')
</head>

<body>

<div id="page-wrapper" class="page-wrapper">
  <!-- @@include('../chunks/header.html') -->
  <div id="page-body" class="page-body">
    @@include('../chunks/body.html')
  </div>
  <!-- @@include('../chunks/footer.html') -->
</div>


<!-- scripts
___________________________________________________________________________-->

@@include('../chunks/scripts.html')
</body>
</html>
