<div class="container">
  <div class="logo">
    <img src="img/logo.png" alt="">
  </div>
  <div class="register">
    <!-- <section class="steps step-1">
      <form action="">
        <div class="form-group">
          <input type="text" class="input-style" placeholder="Имя" name="name">
        </div>
        <div class="form-group">
          <input type="text" class="input-style" placeholder="Фамилия" name="lastName">
        </div>
        <div class="form-group">
          <div class="border-group clearfix">
            <div class="title">Пол</div>
            <div class="radio-wrap">
              <label for="GenderMale" class="form-radio">
                <input id="GenderMale" value="male" type="radio" name="gander"> Мужской
                <span></span>
              </label>
            </div>
            <div class="radio-wrap">
              <label for="GenderFemale" class="form-radio">
                <input id="GenderFemale" value="female" type="radio" name="gander"> Женский
                <span></span>
              </label>
            </div>
          </div>
        </div>
        <button class="btn" type="submit" name="button" id="step-2">Продолжить</button>
      </form>
    </section>

    <section class="steps step-2">
      <form action="">
        <div class="form-group">
          <input id="BirthDate" type="text" class="input-style data-birth" placeholder="Дата рождения (ДД.ММ.ГГГГ)" name="age">
          <span class="error-18" style="display: none;">Пожалуйста, укажи дату рождения. Тебе должно быть больше 18 лет</span>
          <span class="error-correct" style="display: none;">Пожалуйста, укажи корректную дату рождения</span>
        </div>
        <div class="form-group">
          <input id="CitySearch" type="text" class="input-style" name="town" placeholder="Город проживания">
        </div>
        <button class="btn" type="submit" name="button" id="step-3">Продолжить</button>
      </form>
    </section> -->

    <section class="steps step-3">
      <form id="regForm" action="" data-check="/registration/checkexists" method="post">
        <div class="form-group">
          <input id="MobilePhoneNumber" type="text" class="input-style phone" placeholder="Мобильный телефон" name="phone" data-action="/registrationdra/phonesuccess">
          <p class="error-msg">Ваш телефон есть в базе</p>
        </div>
        <div class="form-group">
          <input id="Email" type="text" class="input-style" placeholder="E-mail" name="email" data-action="/registrationdra/emailsuccess">
          <p class="error-msg">Ваш email есть в базе</p>
        </div>
        <button class="btn" type="submit" name="button" id="step-4">Продолжить</button>
      </form>
    </section>

    <section class="steps step-4">
      <form action="">
        <div class="form-group">
          <select id="Cigarette" class="form-control select2-hidden-accessible select-style" data-required="" tabindex="-1" multiple="" data-action="/brands/brandList" aria-hidden="true"></select>
        </div>
        <div class="form-group">
          <select id="Cigarette" class="form-control select2-hidden-accessible select-style" data-required="" tabindex="-1"  multiple="" data-action="/brands/brandList" aria-hidden="true"></select>
        </div>
        <div class="form-group checkbox">
          <input type="checkbox" name="rules" value="" id="rules">
          <span></span>
          <label class="form-text" for="rules">Я соглашаюсь с Правилами Программы и Условиями Обработки Персональных Данных</label>
        </div>
        <button class="btn" type="submit" name="button" id="step-5">Продолжить</button>
      </form>
    </section>

    <section class="steps step-5">
      <form action="">
        <div class="form-group">
          <input type="text" class="input-style" placeholder="Серия паспорта" name="passport">
        </div>
        <div class="form-group">
          <input type="text" class="input-style" placeholder="Номер паспорта" name="passportNum">
        </div>
        <button class="btn" type="submit" name="button" id="step-6">Продолжить</button>
      </form>
    </section>

    <section class="steps step-6">
      <form action="">
        <div class="step-text">
          ДЛЯ ТОГО, ЧТОБЫ ЗАВЕРШИТЬ РЕГИСТРАЦИЮ -
          <br> ПРЕДЪЯВИ ПАСПОРТ
        </div>
        <button class="btn" type="submit" name="button" id="step-7">Продолжить</button>
      </form>
    </section>

    <section class="steps step-7">
      <form action="">
        <table>
          <tr>
            <td>Имя Фамилия</td>
            <td>Константин Константинопольский</td>
          </tr>
          <tr>
            <td>Пол</td>
            <td>Мужской</td>
          </tr>
          <tr>
            <td>Дата рождения</td>
            <td>01.01.1990</td>
          </tr>
          <tr>
            <td>Город</td>
            <td>Москва</td>
          </tr>
          <tr>
            <td>Мобильный телефон</td>
            <td>+7 9101234567</td>
          </tr>
          <tr>
            <td>E-mail</td>
            <td>my_email@mail.ru</td>
          </tr>
          <tr>
            <td>Основная марка</td>
            <td>Parliament/Kent</td>
          </tr>
          <tr>
            <td>Дополнительная марка</td>
            <td>Parliament/Kent</td>
          </tr>
          <tr>
            <td>Паспортные данные</td>
            <td>1201 123456</td>
          </tr>
        </table>
        <div class="form-group">
          <input type="text" class="input-style" placeholder="Уникальный код" name="unicNum">
        </div>
        <button class="btn" type="submit" name="button" id="step-8">активировать код</button>
      </form>
    </section>

    <section class="steps step-8">
      <form action="">
        <div class="step-text">
          ТЫ УСПЕШНО ПРОШЕЛ РЕГИСТРАЦИЮ!
        </div>
        <button class="btn" type="submit" name="button" id="step-1">Закрыть</button>
      </form>
    </section>
  </div>
</div>
